<th:block th:replace="~{layout/main :: layout('Katalog Książek', ~{:: .index-page-content})}">
    <div class="index-page-content container">
        <header style="margin-bottom: 2rem; border-bottom: var(--border-standard); padding-bottom: 1rem;">
            <h1 style="text-align: center">Witamy w elektronicznym portalu Biblioteki MBAD!</h1>
            <p style="font-style: italic; color: var(--color-text-muted); text-align: center">Proszę zainteresować się paskiem na górze.</p>
        </header>
    </div>
</th:block>